:root{
    /* Colors */

    /* Primary */

    --primaryVeryDarkBlue:hsl(233, 47%, 7%);
    --primaryDarkDesaturatedBlue:hsl(244, 38%, 16%);
    --primarySoftViolet:hsl(277, 64%, 61%);

    /* Neutral */

    --neutralWhite:hsl(0, 0%, 100%);
    --neutralSlightlyHeadings:hsla(0, 0%, 100%, 0.75);
    --neutralSlightlyParagraph:hsla(0, 0%, 100%, 0.6);

    /* Font */

    --fontInter:'Inter', sans-serif;
    --fontLexendDeca:'Lexend Deca', sans-serif;
}



/* Global */

html{
    box-sizing: border-box;
    font-size:  62.5%;
    height: 100%;
    
}

*, *:before, *:after{
    box-sizing: inherit;

}


body{
    height: 100vh;
    background-color: var(--primaryVeryDarkBlue);
}

/* Conteiner */


.conteiner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Card */
.card{
    width: 40rem;
    height: 90rem;
    background-color: var(--primaryDarkDesaturatedBlue);
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr 2fr;

}

.card__right{
    grid-row: 1/2;
    background-size: cover;    
    background-repeat: no-repeat;
    background-color: hsl(277, 64%, 61%);    
    background-blend-mode:multiply;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

/* Images */
.img__desktop{
    display: none;

}
.img__mobile{
    width: 40rem;
    height: 100%;
    
    mix-blend-mode: multiply;
    opacity: 75%;

}

/* Card Left Title */


.card__left--title{
    color: var(--neutralWhite);
    font-size: 3.3rem;
    font-family: var(--fontInter);
    font-weight: 700;
    margin: 0;
}

.card__left--title span{
    color: var(--primarySoftViolet);
}

/* Card Left Paragraph */


.card__left--text{
    color: var(--neutralSlightlyParagraph);
    font-family: var(--fontInter);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2rem;
    
}

.card__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    text-align: center;

}



.card__left__data{

    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3.5rem;    
    gap: 3.5rem;
}

/* Card Data */

.data__number,
.data__text{
    margin: 0;
    text-transform: uppercase;
}

.data__number{
    color: var(--neutralWhite);
    font-family: var(--fontInter);
    font-size: 2.3rem;
    font-weight: 700;
    
}

.data__text{
    color: var(--neutralSlightlyParagraph);    
    font-family: var(--fontLexendDeca);
    letter-spacing: .1rem;
    margin-top: 1rem;
    font-size: 1.3rem;
}




@media (min-width: 768px) {


/* Card */
.card{
    width: 110rem;
    height: 45rem;    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}
 .img__mobile{
    display: none;
 }
 .img__desktop{
    display: block;
 }



/* Card Right */
.card__right{
   
    background-size: cover;    
    background-repeat: no-repeat;
    background-color: hsl(277, 64%, 61%);    
    background-blend-mode:multiply;
    border-bottom-right-radius: 1rem;
    border-top-right-radius:1rem ;
    height: 45rem;
    grid-column: 2/3;
}

img{
    mix-blend-mode: multiply;
    opacity: 75%;
    width: 55rem;
    height: 45rem;
}

/* Card Left */
.card__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 9rem 0 7rem;
    gap: 2.5rem;
    padding: 0;
    text-align: left;
    
}

.card__left--title{
 font-size: 3.7rem;   
}

.card__left--text{
    font-size: 1.5rem; 
    margin: 0 0 4rem 0;
}

/* Card Left Data */
.card__left__data{

    flex-direction: row;
    margin-top: 1rem;    
    gap: 5rem;  
}
}
